<% provide(:title, "Heathly") %>
<div><b>Thông tin</b></div>
<div>
    <p>-<b>Chỉ số khối cơ thể</b> - thường được biết đến với chữ viết tắt <b>BMI</b> theo tên tiếng Anh Body Mass Index - được dùng để đánh giá mức độ gầy hay béo của một người. Chỉ số này do nhà bác học người Bỉ Adolphe Quetelet đưa ra năm 1832</p>
    <p>-Chỉ số này có thể giúp xác định một người bị <b>bệnh béo phì</b> hay bị <b>bệnh suy dinh dưỡng</b> thông qua số liệu về hình dáng, chiều cao và cân nặng cơ thể.</p>
</div>
<div class="row">
  <div style = "float: left">
    <%= form_tag(action:"Heathly") do %>
      <p>
        <%= label_tag :height, "Chiều Cao (cm)" %>
        <%= text_field_tag :height %>
      </p>
      <p>
        <%= label_tag :weight, "Cân nặng (kg)" %>
        <%= text_field_tag :weight %>
      </p>
      <p>
        <%= submit_tag "Tính toán", class: "btn btn-primary" %>
      </p>
      
      
      
    <% end %>
  </div>
</div>
<div>
  <% if @result < 18.5%>
    <p><%="Dưới chuẩn (ốm)" %></p>
  <% elsif @result >= 18.5 && @result <= 25 %>
    <p><%="Chuẩn (bình thường)" %></p>
  <% elsif @result >= 30 && @result <= 40 %>
    <p><%="Béo – nên giảm cân" %></p>
  <% else %>
    <p><%="Rất béo – cần giảm cân ngay" %></p>
  <% end %>
</div>